  .header {
    padding: 37px 0;
    background-color: var(--color-black);

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: clamp(15px, 1.389vw, 20px);
    }

    &__btn {
      background-color: var(--color-purple);
    }
  }
