.hero {
  padding: 85px 0 100px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    margin-bottom: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 17px;

    h1 {
      max-width: 1360px;
      font-family: var(--font-family-gilroy);
      font-size: 135px;
      line-height: 146px;
      font-weight: 400;
      letter-spacing: -10.874px;
      text-align: center;
    }

    p {
      max-width: 1015px;
      font-size: 24px;
      line-height: 36px;
      color: #14104A;
      text-align: center;
    }
  }

  &__nav {
    max-width: 1187px;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 40px;
    padding: 17px 19px 16px 34px;
    border-radius: 26px;
    background-color: var(--color-white);

    ul {
      max-width: 908px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 40px;

      a {
        font-size: 26px;
        line-height: 27px;
        font-weight: 400;
        color: #26272B;
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-purple);
        }
      }
    }

    button {
      padding: 12px 16px 10px 12px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
    }
  }

  &__counter {
    margin-bottom: 100px;
  }

  &__subtitle {
    max-width: 1370px;
    width: 100%;
    text-align: center;

    span {
      background: radial-gradient(285.17% 43.4% at 97.01% -5.43%, #7E51FF 0%, #000 100%);
      background: radial-gradient(494.66% 38.46% at 25.77% 45.72%, #7E51FF 0%, #000 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
