.soon {
  background: linear-gradient(118deg, #8C94A4 32.94%, rgba(170, 174, 182, 0.00) 110.38%), #AAAEB6;

  .container {
    max-width: 1750px;
  }

  &__wrapp {
    display: flex;
    align-items: center;
  }
}
