.btn {
  width: fit-content;
  padding: 10px clamp(18px, 1.875vw, 36px) 12px clamp(18px, 1.563vw, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-purple);
  border-radius: 10px;
  font-family: var(--font-family-inter);
  font-size: clamp(15px, 1.094vw, 21px);
  line-height: clamp(19px, 1.458vw, 28px);
  font-weight: 500;
  color: var(--color-white);
  transition: all 0.3s ease;
}
