.modal {
  --transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
  background: rgba(205, 205, 205, 0.36);
  backdrop-filter: blur(12px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &.is-open {
    position: fixed;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: relative;
    width: auto;
    margin: 30px auto;
    display: none;
    vertical-align: middle;
    border-radius: 26.96px;
    border: 1.348px solid #2B2828;
    background: rgba(22, 22, 26, 0.60);
    box-shadow: 0px 5.39202px 5.39202px 0px rgba(0, 0, 0, 0.25);
    cursor: default;

    &.modal-open {
      display: inline-block;
    }
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1240px) {
      width: 90vw;
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 29px;
    display: flex;
    transition: all 0.4s ease;
    cursor: pointer;

    svg {
      transition: all 0.4s ease;
    }

    &:hover,
    &:active {
      svg {
        transform: scale(1.2);
      }
    }
  }

  &__info {
    padding: 76px 41px 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 53px;
  }

  &__title {
    font-size: clamp(50px, 3.125vw, 60px);
    line-height: 100%;
    letter-spacing: -4.8px;
    color: var(--color-white);
    text-align: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 33px;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 32px;

    li {
      display: flex;
    }
  }

  &__text {
    font-size: 21px;
    line-height: 24px;
    color: var(--color-white);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__btn {
    width: 100%;
    padding: 14px 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
    background-color: var(--color-purple-dark);
    border-radius: 12px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    color: var(--color-white);

    svg {
      width: 24px;
      height: 24px;
    }
  }
}







.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}
