h1 {
  font-size: clamp(38px, 5.208vw, 100px);
  line-height: clamp(44px, 5.521vw, 106px);
  letter-spacing: clamp(-2px, -0.45vw, -8.64px);
  font-weight: 400;
}

h2 {
  font-size: clamp(26px, 3.646vw, 70px);
  line-height: clamp(32px, 4.167vw, 80px);
  font-weight: 400;
  letter-spacing: clamp(-2.6px, -0.292vw, -5.6px);
}



