:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
  --font-family-gilroy: "Gilroy", sans-serif; // var(--font-family-gilroy);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);

  --color-purple: #4F5EE4; // var(--color-purple);
  --color-purple-dark: #6506FF; // var(--color-purple-dark);
  --color-text: #585571; // var(--color-text);
  --color-blue: #0047FF; // var(--color-blue);




}









